.comment-form {
  display: flex;
}
#logo {
    float: left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
  }

  #home-container {
    margin-top: 75px;
}
#sticky-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px; 
  background-color: #343a40;
  color: white;
}
.new1{
  margin-top: 12px;
}

body {
  height: 100vh;
  overflow-y: auto;
  margin-bottom: 4rem;

}

.new {
    margin-left: -264px;
  }

.jumbotron {
    background-image: asset-url('img.jpg');
    background-size: cover;
    height: 650px;
    margin-top: -47px;
  }

  .jumbotron h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 50px;
    letter-spacing: -1px;
    font-weight: bolder;
  }

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: rgb(255, 255, 255);
}

/* Other Classes for Page Styling */

body {
  background: #ffffff;
  background: linear-gradient(to right, #ffffff, #ffffff);
}


/*pagination styling*/
.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default; }
  .flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
    padding: 0.2em 0.5em; 
  border-radius: 5px;
  }
  .flickr_pagination .disabled {
    color: #aaaaaa; }
  .flickr_pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #ff0084; }
  .flickr_pagination a {
    border: 1px solid whitesmoke;
    color: whitesmoke;
    text-decoration: none; }
    .flickr_pagination a:hover, .flickr_pagination a:focus {
      border-color: gray;
      background: whitesmoke;
      color: gray; }
  .flickr_pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em; }
  .flickr_pagination .previous_page, .flickr_pagination .next_page {
    border-width: 2px; }
  .flickr_pagination .previous_page {
    margin-right: 1em; }
  .flickr_pagination .next_page {
    margin-left: 1em; }