<div class="container">
  <h1 class="text-center">PAGE VISITS REPORT</h1><br>
  <% if @visited_urls.any? %>
    <div class="mt-4">
      <%= line_chart @url_visits_chart_data, xtitle: 'URL Name', ytitle: 'Visit Count', messages: { empty: 'No data' } %>
    </div>
  <% else %>
  <p class="text-center"><b>No URL visits to display.<b></p>
  <% end %><br>
  <table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Page URL</th>
        <th scope="col">Timestamp</th>
        <th scope="col">Time Spent</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <% @visited_urls.each do |visit| %>
        <tr>
          <td scope="row"><%= visit[:url] %></td>
          <td scope="row"><%= visit[:timestamp] %></td>
          <td scope="row"><%= visit[:time_spent] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br><br><br><br>
